@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import des polices (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Barlow:wght@400;500&family=Barlow+Condensed:wght@400;600&display=swap');

/* Alias pratiques (facultatif) */
.font-bellefair { font-family: 'Bellefair', serif; }
.font-barlow { font-family: 'Barlow', sans-serif; }
.font-barlow-condensed { font-family: 'Barlow Condensed', sans-serif; }
